API_BASE_URL=https://rephrase-app.covianhive.tech

FIREBASE_API_KEY=your-firebase-api-key
FIREBASE_DATABASE_URL=
FIREBASE_PROJECT_ID=your-project-id
FIREBASE_PROJECT_NUMBER=your-project-number
FIREBASE_APP_ID=your-firebase-app-id
